<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a href="index.html" class="navbar-brand">
      <img src="../../../../../../assets/svg/app-logo.svg" alt="application logo">
      <span class="app-name">Learn</span>
    </a>
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <ul class="nav navbar-nav main-navigation">
        <li class="nav-item active">
          <a class="nav-link scroll active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll">Program</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll">Cources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll">community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll">Contact</a>
        </li>
      </ul>
      <div class="navbar-nav">
        <a class="hire_button">GetStarted</a>
      </div>
    </div>
  </div>
</nav>
