<div class="dashboard__profile">
  <div class="dashboard__profile-picture-container">
    <img src="./assets/images/profile.jpg" class="dashboard__profile__picture" alt="profile picture">
  </div>
  <p class="dashboard__profile-name">Baklouti Riadh</p>
  <p class="dashboard__profile-grade">Student</p>
  <section class="dashboard__profile__language-summary">
    <ul>
      <li> <app-language-level-item></app-language-level-item> </li>
      <li> <app-language-level-item></app-language-level-item> </li>
    </ul>
  </section>
  <section class="dashboard__profile__reminders">
    <header class="horizontal-flex dashboard__profile__reminders__header">
      <h1 class="black-subtitle">Reminders</h1>
      <i class="icon-bell dashboard__profile__reminders__icon"></i>
    </header>
    <ul>
      <li> <app-reminder-item></app-reminder-item> </li>
      <li> <app-reminder-item></app-reminder-item> </li>
      <li> <app-reminder-item></app-reminder-item> </li>
      <li> <app-reminder-item></app-reminder-item> </li>
      <li> <app-reminder-item></app-reminder-item> </li>
      <li> <app-reminder-item></app-reminder-item> </li>
      <li> <app-reminder-item></app-reminder-item> </li>
    </ul>
  </section>
</div>
