$menu-width: 330px;
.side-menu {
  height: inherit;
  width: $menu-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.app-content {
  height: inherit;
  width: calc(100% - $menu-width);
  margin-left: $menu-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.app-header {
  height: 70px;
  width: 100%;
}

