@import "../style/color";
$menu-width: 330px;
.side-menu {
  height: inherit;
  width: $menu-width;
  position: absolute;
  background: $white;
  top: 0;
  left: 0;
  bottom: 0;
}

.app-content {
  height: inherit;
  width: calc(100% - $menu-width);
  margin-left: $menu-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.app-header {
  width: 100%;
}

.app-main {
  height: 100%;
  position: relative;
}

