$background-color: #F5F5FB;
$primary-color: #5E81F4;
$secondary-color: #FF808B;
$gray-dark-color: #A2A2C2;
$gray-color: #C8C9E9;
$gray-light-color: #DCDCE5;
$light-blue: #E5E9FA;
$black: #111026;
$white: #FEFEFE;
