.dashboard__main-container {
  height: 100%;
}

.profile-section {
  position: relative;
  &__root {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    width: 100%;
  }
}

.dashboard-section {
}
