@import "style/color";
@import "style/icons";

body {
  margin: 0;
  background-color: $background-color;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a {
  color: $black;
  text-decoration: none;
}
a:hover {
  text-decoration:none;
  cursor:pointer;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
button {
  border: none;
}
input {
  border: none;
  padding: 0;
  &:focus-visible {
    outline: none;
  }
}
//.row {
//  margin: 0;
//  --bs-gutter-x: 0;
//}

.horizontal-flex {
  display: flex;
}
.vertical-flex {
  display: flex;
  flex-direction: column;
}

.indicator-rectangle {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 26px;
  font-family: 'Poppins-Medium', sans-serif;
  color: $black;
  background: $white;
  &--gray-skin {
    background: $background-color;
    color: $black;
  }
  &--red-skin {
    background: $secondary-color-light;
    h1, h2, h3, h4, h5, h6, i {
      color: $secondary-color;
    }
  }
  &--blue-skin {
    background: $light-blue;
    h1, h2, h3, h4, h5, h6, i {
      color: $primary-color;
    }
  }
}
.small-indicator {
  width: 54px;
  height: 54px;
}
.gray-text-content {
  color: $gray-dark-color;
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 14px;
  line-height: 21px;
}
.black-text-content {
  color: $black;
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.black-subtitle {
  color: $black;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 17px;
  line-height: 26px;
}
.black-title {
  color: $black;
  font-family: 'Poppins-Bold', sans-serif;
  font-size: 25px;
  line-height: normal;
}


@font-face {
  font-family: 'Poppins-Regular';
  src: url('assets/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('./assets/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('assets/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('assets/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
